<div class="modal-background">
  <div class="modal-container">
    <button class="button-close"></button>
    <h3 class="title">Cadastrar Dragão</h3>

    <form class="form" action="">
      <div class="form-row row-required">
        <label for="" class="label">Nome</label>
        <input type="text" name="nome" class="input" aria-required="true" required>
      </div>
      <div class="form-row row-required">
        <label for="" class="label">Tipo</label>
        <input type="text" name="tipo" aria-required="true" class="input" required>
      </div>

      <button class="button">
        <p class="button-title">Salvar</p>
      </button>
    </form>
  </div>
</div>