.login {
  align-items: center;
  background-image: url('../../assets/images/login-bg.png');
  background-position: center;
  background-size: cover;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;

  &-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 1024px) {
      width: 70%;
    }

    @media (max-width: 550px) {
      width: 90%;
    }

    .container-title {
      color: #4f4f4f;
      font-size: .7em;
      font-weight: 600;
      margin: 0;
      text-transform: uppercase;
    }

    .app-title {
      color: #272727;
      font-size: 2em;
      font-weight: 600;
      margin: 1.2em 0;
      text-transform: uppercase;

      @media (max-width: 550px) {
        font-size: 1.5em;
      }
    }
  }

  .container-form {
    text-align: left;

    .form-row {
      padding-bottom: 30px;

      > .input {
        background-color: #fcfcfc;
        border-radius: 5px;
        border: solid 1px rgba(149, 152, 154, 0.3);
        color: #272727;
        font-size: 16px;
        outline: none;
        padding: 15px 10px;
        width: 100%;

        &:focus {
          border: solid 1px rgba(39, 39, 39, 0.25);
          box-shadow: 0 4px 12px 0 rgba(39, 39, 39, 0.2);
        }
      }

      > .label {
        color: #78849e;
        display: block;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 5px;
        position: relative;
      }
    }

    .button {
      background-color: #5773FF;
      border-radius: 50px;
      border: 0;
      box-shadow: 0 4px 12px 0 rgba(87, 115, 255, 0.58);
      color: #fff;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      letter-spacing: 3px;
      margin: 0 auto;
      outline: none;
      padding: 12px 18px;
      text-transform: uppercase;
      transition: box-shadow .4s;
      width: 30%;

      @media (max-width: 550px) {
        width: 50%;
      }

      &:hover {
        box-shadow: 0 4px 12px 0 rgba(87, 115, 255, 1);
      }

      .button-title {
        letter-spacing: 3px;
        margin: 0 auto;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}