<div class="login">
  <div class="login-container">
    <h3 class="container-title"> login </h3>
    <h1 class="app-title"> dragonslist </h1>

    <form class="container-form" #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-row">
        <label for="" class="label">Email</label>
        <input type="email" name="email" class="input" aria-required="true" required ngModel>
      </div>
      <div class="form-row">
        <label for="" class="label">Senha</label>
        <input type="password" name="pass" aria-required="true" class="input" required ngModel>
      </div>

      <button class="button" type="submit">
        <p class="button-title">Entrar</p>
      </button>
    </form>

    <span class="error" *ngIf="error">{{ error }}</span>
  </div>
</div>