<div class="item-card">
  <h4 class="card-title">
    {{ title }}
  </h4>
  <div class="card-wrapper-content">
    <div class="content-description">
      <div class="description">
        <span class="title">Tipo:</span>
        <p class="detail">Dragonite</p>
      </div>
      <div class="description">
        <span class="title">Data de cadastro:</span>
        <p class="detail">15/07/2019</p>
      </div>
    </div>
    <div class="content-actions">
      <app-primary-button edit="true" title="editar"></app-primary-button>
      <app-secondary-button></app-secondary-button>
    </div>
  </div>
</div>